body {
    margin: 5;
    padding: 5;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.sidebar {
    position: relative;
    width: 41%;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 10;
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
    border-radius: 3px;
    padding: 5px;
}

.title {
    font-weight: bold;
    margin-bottom:8px;

}

.mapboxgl-marker {
    cursor: pointer;
}

.mapboxgl-popup-close-button {
    display: none;
}

.mapboxgl-popup-content {
    font: 400 15px/22px 'Courier New', Courier, monospace;
    padding: 10;
    width: 180px;
    background-color: antiquewhite;
}

button {
    position: relative;
    align-items: center;
    z-index: 10;
    cursor: pointer;
    display: inline-flex;
    width: 200px;
    height: 30px;
    justify-content: center;
    line-height: 20px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    border-radius: 3px;
    font-size: 13px;
    text-align: center;
    touch-action: manipulation;    
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background: antiquewhite;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 10px;
}

button:hover,
button:focus {
    background-color: #ff4d00;
    color: antiquewhite;
}