body {
    margin: 5;
    padding: 5;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.sidebar {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 10;
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
}

.title {
    font-weight: bold;
}

.mapboxgl-popup-close-button {
    display: none;
}

.mapboxgl-popup-content {
    font: 400 15px/22px 'Courier New', Courier, monospace;
    padding: 10;
    width: 180px;
    background-color: antiquewhite;
}